.pagination{
    display: flex;
    justify-content: space-between;
}
.table_wrapper{
    display: flex;
    justify-content: center;
}
.custom-table{
  width: 100%;
  border-collapse: collapse; 
}

.loading-state img{
    width: 30px;
}

.nav_button{
    background-color: white;
    outline: none;
    width: 10vh;
    border: 1px solid black;
}

.nav_button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}