.navbar {
  padding: 5vh;
  display: flex;
  gap: 8vh;
  background-color: black;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 3vh;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 1vh;
  padding-inline: 1vh;
  background-color: black;
}

a:hover {
  color: black;
  background-color: white;
}
